@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Inter:wght@300;400;500;700&display=swap');

body, html {
    font-family: Arimo, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100vw;
}

/* -------- Navigation ---------- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 120px;
    background-color: #e9eaec;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-left p {
    font-size: 22px;
}

nav img {
    width: 30px;
    height: 30px;
}

nav ul, a{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    color: #40435d;
    transition: 0.2s;
}

nav a:visited {
    color: #40435d;
}

nav a:hover {
    color: #90adc6;
}

/* -------- Header ---------- */

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 500px;
    background-image: url(./images/mountain.svg);
    background-position: bottom;
    background-size: cover;
    color: #40435d;
    padding: 10px 120px;
}

header h1 {
    font-size: 50px;
    text-align: right;
}

header p {
    font-size: 22px;
    text-align: right;
    width: 390px;
}

/* -------- Main ---------- */
main {
    display: flex;
    flex-direction: column;
    background-color: #40435d;
    padding: 10px 120px;
}

main h2 {
    display: flex;
    align-items: center;
    width: 400px;
}

.main-top {
    color: #ffffff;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.main-middle {
    color: #ffffff;
    justify-content: space-between;
    display: flex;
    padding: 30px;
    gap: 10px;
}

.main-middle h2 {
    width: 300px;
}
