@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Inter:wght@300;400;500;700&display=swap');

body, html {
    font-family: Arimo, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100vw;
}

/* -------- Navigation ---------- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 120px;
    background-color: #e9eaec;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-left p {
    font-size: 22px;
}

nav img {
    width: 30px;
    height: 30px;
}

nav ul, a{
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    color: #40435d;
    transition: 0.2s;
}

nav a:visited {
    color: #646777;
}

nav a:hover {
    color: #272939;
}

/* -------- Header ---------- */

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 600px;
    background-image: url(./images/mountain.svg);
    background-position: bottom;
    background-size: cover;
    color: #40435d;
    padding: 10px 120px;
}

header h1 {
    font-size: 50px;
    text-align: right;
}

header p {
    font-size: 22px;
    font-family: Inter;
    text-align: right;
    width: 390px;
}

/* -------- Main ---------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h2 {
    font-size: 42px;
}

main p {
    font-size: 18px;
    font-family: Inter;
}

.light-background {
    color: #40435d;
    background-color: #e9eaec;
    padding: 150px 60px;
}

.mv-right {
    text-align: right;
}

.dark-background {
    background-color: #2B3A55;
    color: #e9eaec;
    padding: 150px 60px;
}

/* -------- Form ---------- */
fieldset {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
}

.entry-name, .message, .checkboxs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #2B3A55;
}

.entry-name input {
    font-size: 15px;
    width: 320px;
    height: 40px;
    color:#272939;
    background-color: #f6f6f6;
    border: 1px solid #e9eaec;
    border-radius: 5px;
    margin-top: 5px;
}

.message textarea {
    color:#272939;
    font-size: 15px;
    font-family: Inter;
    background-color: #f6f6f6;
    border: 1px solid #e9eaec;
    border-radius: 5px;
    margin-top: 5px;
}

fieldset button {
    color: #e9eaec;
    font-size: 15px;
    border: 1px solid #b5d6eb00;
    border-radius: 20px;
    padding: 15px 45px;
    background-color: #728fae;
    cursor: pointer;
}

/* -------- Resources page ---------- */
.resources-header {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./images/resources.svg);
}

ul.resources-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 100px;
}

/* -------- Work ---------- */
main.work {
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    color: #40435d;
}

main.work h2 {
    padding-left: 170px;
}

.top-boxes {
    display: flex;
    justify-content: space-around;
}

.top-boxes a {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #e9eaec;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.bottom-boxes {
    display: flex;
    justify-content: space-around;
}

.bottom-boxes a {
    width: 100px;
    height: 100px;
    background-color: #e9eaec;
    padding: 30px;
    border-radius: 20px;
}

.top-boxes img, .bottom-boxes img {
    height: 200px;
    width: 200px;
}

.project-text {
    display: flex;
    justify-content: space-around;
    color: #40435d;
    margin-bottom: 50px;
}

/* -------- Footer ---------- */
footer {
    display: flex;
    color: #e9eaec;
    background-color: #272939;
    height: 50px;
    padding: 10px 30px;
    gap: 20px;
}

footer > p {
    display: flex;
    align-items: center;
    font-size: 12px;
}

footer img {
    width: 30px;
    height: 30px;
}

.footer-left-align {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-left-align {
    color: #e9eaec;
    font-size: 22px;
}
